.title-heading {
  @apply font-para text-primary tracking-widest text-4xl mb-3;
}

.sub-heading {
  @apply font-para text-primary tracking-widest text-xl mb-3;
}

.para {
  @apply text-base text-lilac tracking-wider mb-20;

  @screen lg {
    @apply text-lg;
  }

  &:not(:last-of-type) {
    @apply mb-4;
  }
}

.text-underline {
  @apply relative inline-block z-1;

  &:before {
    content: '';
    width: 100%;
    height: 0.2em;
    bottom: 7px;
    opacity: 0.4;
    z-index: -1;
    @apply absolute bg-secondary -z-1;
  }
}
